body, html {
  margin: 0;
  background-color: black;
}

.interactiveContainer {
  position: absolute;
  width: 177.777777778vh;
  max-width: 100vw;
  max-height: 100vh;
  height: 56.25vw;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

img {
  width: 100%;
  height: 100%;
}

.leftMenuImg {
  position: absolute;
  top: 48.4%;
  left: 10%;
  height: 3.704%;
  width: 14.58%;
}

.leftMenuImg .imgDefault {
  display: inline;
}

.leftMenuImg:hover .imgDefault {
  display: none;
}

.leftMenuImg .imgHover {
  display: none;
}

.leftMenuImg:hover .imgHover {
  display: inline;
}

.rightMenuImg {
  position: absolute;
  top: 48.4%;
  right: 10%;
  height: 3.704%;
  width: 14.43%;
}

.rightMenuImg .imgDefault {
  display: inline;
}

.rightMenuImg:hover .imgDefault {
  display: none;
}

.rightMenuImg .imgHover {
  display: none;
}

.rightMenuImg:hover .imgHover {
  display: inline;
}

#fadeToBlack {
  visibility: hidden;
  background-color: black;
  opacity: 0;
  transition: opacity 3.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#fadeToBlack.activeFade {
  visibility: visible;
  opacity: 1;
}
