---
---

@import "{{ site.theme }}";

header > a {
  color: #000000;
}

.page-header {
  background-color: #CDFFFE;
  background-image: linear-gradient(120deg, #CDFFFE, #FEC582);
}

.models-content {
  text-align: center;
}

.main-content img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
